body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #40514E;
    background-color: #e4f9f5;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0px auto 20px auto;
    font-family: 'Rock Salt', cursive;
    font-size: 3em;
    color: #66bfbf;
}


.top-container{
    background-color: #e4f9f5;
}